<a href="https://colab.research.google.com/github/AthThahiru/Laporan-hasil-praktikum-week-6/blob/main/Week_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nyoba-nyoba :p

In [ ]:
tahun  = [2000,2005,2009]
n      = len(tahun)

for i in range(n)         :
    print("Tahun : " , (tahun[i]))

Tahun :  2000
Tahun :  2005
Tahun :  2009

In [ ]:
for a in range(-5 , 5)   :
    print (a)  # Alphabet blh gnti

-5
-4
-3
-2
-1
0
1
2
3
4

In [ ]:
for year in tahun :
    print (year)

2000
2005
2009

In [ ]:
kotak   = ["merah" , "biru" , "hitam" , "putih"]

for k in range (0 , 4) :
    print ("Sebelum kotak" , k , "adalah warna" , kotak[k])
    kotak[k] = "ungu"
    print ("Setelah kotak" , k , "adalah" , kotak[k])

Sebelum kotak 0 adalah warna merah
Setelah kotak 0 adalah ungu
Sebelum kotak 1 adalah warna biru
Setelah kotak 1 adalah ungu
Sebelum kotak 2 adalah warna hitam
Setelah kotak 2 adalah ungu
Sebelum kotak 3 adalah warna putih
Setelah kotak 3 adalah ungu

In [ ]:
warna = ["merah" , "hijau" , "biru" , "nila"]

for w , warna in enumerate(warna) :
   print (w , warna)

0 merah
1 hijau
2 biru
3 nila

In [ ]:
data   =  [2001, 2002, 2000, 2005, 2004]

d      = 0
tahun  = 0

while(tahun != 2005) :
      tahun  = data[d]
      d      = d + 1
      print (tahun)

print ("Untuk mencari data 2005 butuh", d, "kali perulangan")

2001
2002
2000
2005
Untuk mencari data 2005 butuh 4 kali perulangan

# Latihan 1

In [ ]:
# Membuat kode program *

n   = int(input("Masukkan angka : "))

for i in range (1, n + 1) :
    print (" " * (n - i), end = "")
    print ("* " * i)

Masukkan angka :6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

# Latihan 2

In [ ]:
# Membuat kode program angka

n       = int(input("Masukkan angka : "))

for i in range (1, n + 1)   :
    for a in range (0, n - i + 1)  :
        print (" ", end = "")

    b = 1
    for a in range (1, i + 1)  :
        print (" ", b, sep = "", end = "")
        b = b * (i - a) // a
    print ()

Masukkan angka : 5
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

# Latihan 3

In [ ]:
n        = int(input("Masukkan angka : "))

for i in range (1, n + 1)  :
   for a in range (0, n - i + 1)  :
      print (" ", end = "")

   b     = 1
   c     = 1
   for a in range (1, i + 1)  :
      print (" ", b, sep = "", end = "")
      b  = b * (i - a) // a
      c += b
      if a != i  :
         print (end = "")

   print (" =", c)

Masukkan angka : 5
      1 = 1
     1 1 = 2
    1 2 1 = 4
   1 3 3 1 = 8
  1 4 6 4 1 = 16